/*Google Font Import - Poppins*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*CSS ROOT*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    /*Colors*/
    --primary-color: #4b79ad;
    --panel-color: #ffffff;
    --text-color: #000;
    --backligt-color: #707070;
    --border-color: #e6e5e5;
    --toggle-color: #DDD;
    --box1-color: #4DA3FF;
    --box2-color: #FFE6AC;
    --box3-color: #E7D1FC;
    --tittle-icon-color: #fff;

    /*Transition*/
    --tran-05: all 0.5s ease;
    --tran-03: all 0.3s ease;
    --tran-02: all 0.2s ease;
}

body {
    min-height: 100vh;
    background-color: var(--primary-color);
}

body.dark{
    --primary-color: #3A3B3C;
    --panel-color: #242526;
    --text-color: #FFF;
    --backligt-color: #CCC;
    --border-color: #4D4C4C;
    --toggle-color: #DDD;
    --box1-color: #3A3B3C;
    --box2-color: #3A3B3C;
    --box3-color: #3A3B3C;
    --tittle-icon-color: #fff;
}

/*SIDEBAR CSS*/
nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background-color: var(--panel-color);
    border-right: 1px solid var(--border-color);
    transition: var(--tran-05);
}

nav.close{
    width: 73px;
}

nav .logo-name{
    display: flex;
    align-items: center;
}

nav .logo-image{
    display: flex;
    min-width: 45px;
    justify-content: center;
}

nav .logo-image img{
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
}

nav .logo-name .logo_name{
    font-size: 22px;
    font-weight: 600;
    color: var(--text-color);
    margin-left: 14px;
    transition: var(--tran-05);
}

nav.close .logo_name{
    opacity: 0;
    pointer-events: none;
}

nav .menu-items{
    margin-top: 40px;
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-items li{
    list-style: none;
}

.menu-items li a{
    display: flex;
    align-items: center;
    text-decoration: none;
    height: 50px;
    position: relative;
}

.nav-links li a:hover:before{
    content: "";
    position: absolute;
    left: -7px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: var(--primary-color);
}

body.dark li a:hover:before{
    background-color: var(--text-color);
}

.menu-items li a i{
    font-size: 24px;
    min-width: 45px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--backligt-color);
}

.menu-items li a .link-name{
    font-size: 15px;
    font-weight: 400;
    color: var(--backligt-color);
    transition: var(--tran-05);
}

nav.close li a .link-name{
    opacity: 0;
    pointer-events: none;
}

.nav-links li a:hover i,
.nav-links li a:hover .link-name{
    color: var(--primary-color);
}

body.dark .nav-links li a:hover i,
body.dark .nav-links li a:hover .link-name{
    color: var(--text-color);
}

.menu-items .logout-mode{
    padding-top: 10px;
    border-top: 1px solid var(--border-color);
}

.menu-items .mode{
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.menu-items .mode-toggle{
    position: absolute;
    right: 14px;
    height: 50px;
    min-width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.mode-toggle .switch{
    position: relative;
    display: inline-block;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
}

.switch:before{
    content: "";
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    height: 15px;
    width: 15px;
    background-color: var(--panel-color);
    border-radius: 50%;
    transition: var(--tran-03);
}

body.dark .switch:before{
    left: 20px;
}

/*NAVBAR*/
.dashboard{
    position: relative;
    left: 250px;
    background-color: var(--panel-color);
    min-height: 100vh;
    width: calc(100% - 250px);
    padding: 10px 14px;
    transition: var(--tran-05);
}

nav.close ~ .dashboard{
    left: 73px;
    width: calc(100% - 73px);
}

.dashboard .top{
    position: fixed;
    top: 0;
    left: 250px;
    display: flex;
    width: calc(100% - 250px);
    justify-content: space-between;
    align-items: center;
    padding: 10px 14px;
    background-color: var(--panel-color);
    transition: var(--tran-05);
    z-index: 10;
}

nav.close ~ .dashboard .top{
    left: 73px;
    width: calc(100% - 73px);
}

.dashboard .top .sidebar-toggle{
    font-size: 26px;
    color: var(--text-color);
    cursor: pointer;
}

.dashboard .top .search-box{
    position: relative;
    height: 45px;
    max-width: 600px;
    width: 100%;
    margin: 0 30px;
}

.dashboard .top .search-box input{
    position: absolute;
    border: 1px solid var(--border-color);
    background-color: var(--panel-color);
    padding: 0 25px 0 50px;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    color: var(--text-color);
    font-size: 15px;
    font-weight: 400;
    outline: none;
}

.dashboard .top .search-box i{
    position: absolute;
    left: 15px;
    font-size: 22px;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    color: var(--backligt-color);
}

.top img{
    width: 3%;
    border-radius: 50%;
}

.dashboard .dash-content{
    padding-top: 10px;
}

/*CONTENT*/
.dash-content .title{
    display: flex;
    align-items: center;
    margin: 60px 0 30px 0;
}

.dash-content .title-data{
    display: flex;
    align-items: center;
    margin: 30px 0 30px 0;
}

.dash-content .title-data i{
    position: relative;
    height: 35px;
    width: 35px;
    background-color: var(--primary-color);
    border-radius: 6px;
    color: var(--tittle-icon-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.dash-content .title i{
    position: relative;
    height: 35px;
    width: 35px;
    background-color: var(--primary-color);
    border-radius: 6px;
    color: var(--tittle-icon-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.dash-content .title .upload-containerSiswa{
    padding-top: 0;
    margin-left: auto; /* Mendorong elemen <a> ke sebelah kanan */
    display: flex;
    align-items: center;
    justify-content: center;
}

#fileInputSiswa{
    display: none;
}

.title .upload-containerSiswa i{
    text-decoration: none;
}

.dash-content .title .text{
    font-size: 24px;
    font-weight: 500;
    color: var(--text-color);
    margin-left: 10px;
}

.dash-content .title-data .text{
    font-size: 15px;
    font-weight: 500;
    color: var(--text-color);
    margin-left: 10px;
}

.boxes{
    cursor: pointer;
}

.dash-content .boxes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.dash-content .boxes .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    width: calc(100% / 3 - 15px);
    padding: 15px 20px;
    background-color: var(--box1-color);
    transition: var(--tran-05);
}

.boxes .box.box2{
    background-color: var(--box2-color);
}

.boxes .box.box3{
    background-color: var(--box3-color);
}

.boxes .boxes i{
    font-size: 35px;
    color: var(--text-color);
}

.boxes .box .text{
    white-space: nowrap;
    font-size: 18px;
    font-weight: 500;
    color: var(--text-color);
}

.boxes .box .number{
    font-size: 40px;
    font-weight: 500;
    color: var(--text-color);
}

.dash-content .activity .activity-data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* Styling Upload*/
.upload-container {
    margin: 20px 0; /* Memberikan jarak vertikal */
    display: flex; /* Mengatur elemen dalam baris */
    align-items: center; /* Menyelaraskan elemen secara vertikal */
    justify-content: left; /* Menyelaraskan elemen secara horizontal */
}

.upload-label {
    font-size: 12px;
    font-weight: 300;
    color: var(--tittle-icon-color);
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    padding: 10px 10px;
    cursor: pointer;
    text-align: center;
    margin-right: 10px; /* Jarak antara label dan input */
    transition: background-color var(--tran-03), border-color var(--tran-03);
}

.upload-label:hover {
    background-color: var(--text-color);
    color: var(--panel-color);
    border-color: var(--text-color);
}

#fileInput {
    display: none; /* Menyembunyikan input file default */
}

.send-btn, .delete-btn {
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    color: var(--tittle-icon-color);
    font-size: 12px;
    font-weight: 300;
    border-radius: 5px;
    padding: 10px 10px;
    cursor: pointer;
    transition: background-color var(--tran-03), border-color var(--tran-03);
    margin-right: 10px;
}

.send-btn:hover, .delete-btn:hover {
    background-color: var(--text-color);
    color: var(--tittle-icon-color);
    border-color: var(--text-color);
}

/* Table Styling */
.table-responsive {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 0;
    font-size: 16px;
    text-align: left;
}

table thead {
    background-color: var(--primary-color);
    color: var(--text-color);
}

table th, table td {
    padding: 12px 15px;
    border: 1px solid var(--border-color);
}

table tbody tr {
    background-color: var(--panel-color);
    color: var(--text-color);
    display: table-row;
}

table tbody tr:nth-of-type(even) {
    background-color: var(--backligt-color);
}

/*Responsive Content*/
@media (max-width: 1000px) {
    nav{
        width: 73px;
    }
    nav.close{
        width: 250px;
    }
    nav .logo_name{
        opacity: 0;
        pointer-events: none;
    }
    nav.close .logo_name{
        opacity: 1;
        pointer-events: auto;
    }
    nav li a .link-name{
        opacity: 0;
        pointer-events: none;
    }
    nav.close li a .link-name{
        opacity: 1;
        pointer-events: auto;
    }
    nav ~ .dashboard{
        left: 73px;
        width: calc(100% - 73px);
    }
    nav.close ~ .dashboard{
        left: 250px;
        width: calc(100% - 250px);
    }
    nav ~ .dashboard .top{
        left: 73px;
        width: calc(100% - 73px);
    }
    nav.close ~ .dashboard .top{
        left: 250px;
        width: calc(100% - 250px);
    }
    .activity .activity-data{
        overflow-x: scroll;
    }
}

@media (max-width: 780px) {
    .dash-content .boxes .box{
        width: calc(100% / 2 - 15px);
        margin-top: 15px;
    }
}

@media (max-width: 600px) {
    table thead {
        table-layout: fixed;
        display: block;/* Hide the header for mobile */
    }

    table, table tbody, table tr, table td {
        display: block;
        width: 100%;
    }

    table tr {
        margin-bottom: 7px;
    }

    table td {
        text-align: right;
        padding-left: 50%;
        position: relative;
    }

    table td:before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-weight: bold;
        text-align: left;
    }
}

@media (max-width: 560px) {
    .dash-content .boxes .box{
        width: 100%;
    }
}

@media (max-width: 500px) {
    nav{
        width: 73px;
    }
    nav.close{
        width: 73px;
    }
    nav .logo_name{
        opacity: 0;
        pointer-events: none;
    }
    nav.close .logo_name{
        opacity: 0;
        pointer-events: none;
    }
    nav li a .link-name{
        opacity: 0;
        pointer-events: none;
    }
    nav.close li a .link-name{
        opacity: 0;
        pointer-events: none;
    }
    nav ~ .dashboard{
        left: 73px;
        width: calc(100% - 73px);
    }
    nav.close ~ .dashboard{
        left: 73px;
        width: calc(100% - 73px);
    }
    nav ~ .dashboard .top{
        left: 73px;
        width: calc(100% - 73px);
    }
    nav.close ~ .dashboard .top{
        left: 73px;
        width: calc(100% - 73px);
    }
    .dashboard .top .sidebar-toggle{
        display: none;
    }
}
