<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="../static/images/logo-color.png" type="image/x-icon">

    <!-- CSS -->
    <link rel="stylesheet" href="../static/css/style.css">

    <!-- Iconscout CSS -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">

    <title>Dashboard</title>
</head>
<body>
    <nav>
        <div class="logo-name">
            <div class="logo-image">
                <img src="../static/images/logo-color.png" alt="">
            </div>

            <span class="logo_name">Znonymous</span>
        </div>

        <div class="menu-items">
            <ul class="nav-links">
                <li><a href="#">
                    <i class="uil uil-estate"></i>
                    <span class="link-name">Dashboard</span>
                </a></li>
                <li><a href="{{ url_for('autoSend') }}">
                    <i class="uil uil-whatsapp"></i>
                    <span class="link-name">Automatically Send</span>
                </a></li>
                <li><a href="{{ url_for('competition') }}">
                    <i class="uil uil-chart"></i>
                    <span class="link-name">Competition</span>
                </a></li>
                <li><a href="#">
                    <i class="uil uil-thumbs-up"></i>
                    <span class="link-name">Like</span>
                </a></li>
                <li><a href="#">
                    <i class="uil uil-comment"></i>
                    <span class="link-name">Comment</span>
                </a></li>
                <li><a href="#">
                    <i class="uil uil-share"></i>
                    <span class="link-name">Share</span>
                </a></li>
            </ul>

            <ul class="logout-mode">
                <li>
                    <a href="#">
                        <i class="uil uil-sign-out-alt"></i>
                        <span class="link-name">Logout</span>
                    </a>
                </li>
                <li class="mode">
                    <a href="#">
                        <i class="uil uil-moonset"></i>
                        <span class="link-name">Select Mode</span>
                    </a>

                    <div class="mode-toggle">
                        <span class="switch"></span>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <section class="dashboard">
        <div class="top">
            <i class="uil uil-bars sidebar-toggle"></i>

            <div class="search-box">
                <i class="uil uil-search"></i>
                <input type="text" placeholder="Search here ...">
            </div>

            <img src="../static/images/user.svg" alt="">
        </div>

        <div class="dash-content">
            <div class="overview">
                <div class="title">
                    <i class="uil uil-tachometer-fast-alt"></i>
                    <span class="text">Dashboard</span>
                </div>

                <div class="boxes">
                    <div class="box box1" data-link="#">
                        <i class="uil uil-thumbs-up"></i>
                        <span class="text">Students Count</span>
                        <span class="number">-----</span>
                    </div>
                    <div class="box box2" data-link="#">
                        <i class="uil uil-comments"></i>
                        <span class="text">Win Competition</span>
                        <span class="number">-----</span>
                    </div>
                    <div class="box box3" data-link="#">
                        <i class="uil uil-share"></i>
                        <span class="text">Pending Competition</span>
                        <span class="number">-----</span>
                    </div>
                </div>
            </div>

            <div class="activity">
                <div class="title">
                    <i class="uil uil-clock"></i>
                    <span class="text">Students Data</span>
                    <a href="{{ url_for('inputSiswa') }}">
                        <i class="uil uil-book-medical"></i>
                    </a>
                </div>

                <div class="activity-data">
                    <div class="data names">
                        <span class="data-title">Name</span>
                        <span class="data-list">Lost Activity</span>
                    </div>
                    <div class="data email">
                        <span class="data-title">Email</span>
                        <span class="data-list">example@email.com</span>
                    </div>
                    <div class="data joined">
                        <span class="data-title">Joined</span>
                        <span class="data-list">2022</span>
                    </div>
                    <div class="data type">
                        <span class="data-title">Type</span>
                        <span class="data-list">New</span>
                    </div>
                    <div class="data status">
                        <span class="data-title">Status</span>
                        <span class="data-list">Liked</span>
                    </div>
                     <div class="data status">
                         <span class="data-title">Action</span>
                         <button class="edit-btn" onclick="">
                             <i class="uil uil-edit"></i>
                         </button>
                         <button class="edit-btn" onclick="">
                             <i class="uil uil-trash-alt"></i>
                         </button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="../static/js/script.js"></script>
</body>
</html>